.form {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 16px;
  }
.form-item{
  width: 200px;
}

.title{
  font-size: 30px;
  font-family: 'Roboto, monospace';
  padding: 16px;
}