<h1 class="title">Usuário</h1>

<form class="form">

  <mat-form-field>
    <input matInput placeholder="Nome completo">
  </mat-form-field><br />

  <mat-form-field>
    <input matInput placeholder="Matrícula">
  </mat-form-field><br />

  <mat-form-field>
    <input matInput placeholder="Área">
  </mat-form-field><br />

  <mat-form-field>
    <input matInput placeholder="E-mail">
  </mat-form-field><br />

  <mat-form-field>
    <input matInput placeholder="Login">
  </mat-form-field><br />

  <mat-form-field>
    <input matInput placeholder="Senha">
  </mat-form-field><br />

  <button mat-raised-button color="accent" class="form-item">Salvar</button>
</form>